<html>

<head>
    {% load static %}
    <title>Amazing qrcode</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body style="background-color: #f5f8fa">
<h2 style="text-align: center">
    <label class='label label-primary'
           style=''>Amazing QR Code</label>
</h2>

<div class="row" style="text-align: center; margin-top: 40px;">
    <img src="{% static 'new.gif' %}" alt="动图一" class="gif"/>
    <img src="{% static 'new.gif' %}" alt="动图一" class="gif"/>
    <img src="{% static 'new.gif' %}" alt="动图一" class="gif"/>
</div>


</body>

</html>
