<html>

<head>
    {% load static %}
    <title>Amazing qrcode</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'main.css' %}?v=00003">
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background-color: #f5f8fa">
<div class="container">
    <div class="row">
        <div class="col-xs-6">

            <div class="row" style="text-align: center; margin-top: 40px;">
                <img src="{% static 'img_bg.png' %}" alt="动图一" class="gif_img"/>
                <img src="{% static 'gif_bg.gif' %}" alt="动图一" class="gif_img"/>
                <img src="{% static 'no_bg_gif.gif' %}" alt="动图一" class="gif_img"/>
                <img src="{% static 'img_bg_gif.gif' %}" alt="动图一" class="gif_img"/>
            </div>
        </div>

        <form class="col-xs-6" style="margin-top: 24px;"
              name="form" enctype="multipart/form-data"
              action="{% url 'submit' %}" method="POST">
            {% csrf_token %}

            <h1 style="text-align: center;">
                <label class='label label-primary'>Amazing QR Code</label>
            </h1>

            <!--二维码的内容-->
            <div class="row form-group" style="margin-top: 36px;">
                <h4 class="col-xs-3 col-form-label form-label cus-label"
                    style="text-align: center;">二维码内容:</h4>
                <div class="col-xs-8 ">
                    <input name="url" type="text" class="form-control" placeholder="https://github.com/ssthouse"/>
                </div>
            </div>

            <!--二维码是否为彩色-->
            <div class="row from-group" style="margin-top: 12px;">
                <h4 class="col-xs-3 col-from-label from-label cus-label"
                    style="text-align: center;">彩色图:</h4>
                <div class="col-xs-8" style="margin-top: 8px;">
                    <label style="margin-left: 24px; "><input type="radio"
                                                              name="colorful"
                                                              value="Yes"
                                                              style="margin-right: 10px;">Yes</label>
                    <label style="margin-left: 24px;"><input type="radio"
                                                             name="colorful"
                                                             value="No"
                                                             style="margin-right: 10px;">No</label>
                </div>
            </div>

            <!--上传文件-->
            <div class="row from-group" style="margin-top: 12px;">
                <h4 class="col-xs-3 col-from-label from-label cus-label"
                    style="text-align: center;">上传图片:</h4>
                <div class="col-xs-8">
                    <input name="picture" type="file" placeholder="图片文件" style="padding-top: 10px;"/>
                </div>
            </div>
            <div style="width: 54px; margin: 24px auto auto;">
                <button class="btn btn-success">提交
                </button>
            </div>

        </form>
    </div>
</div>


</body>

</html>
