<html>

<head>
    {% load static %}
    <title>Amazing qrcode</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'main.css' %}?v=00001">
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
</head>

<body style="background-color: #f5f8fa">
<h1 style="text-align: center; margin-top: 40px;">
    <label class='label label-primary'
           style=''>Amazing QR Code</label>
</h1>

<div class="row" style="text-align: center; margin-top: 40px;">
    <img src="{% static 'img_bg.png' %}" alt="动图一" class="gif_img"/>
    <img src="{% static 'gif_bg.gif' %}" alt="动图一" class="gif_img"/>
    <img src="{% static 'img_bg_gif.gif' %}" alt="动图一" class="gif_img"/>
</div>


</body>

</html>
