<html>

<head>
    {% load static %}
    <title>Amazing qrcode</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'main.css' %}?v=00003">
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<h1 style="text-align: center;">Here you go!</h1>

<!--最终的效果图-->
<div class="row">
    <img src="{% static gif_path %}"
         class="col-xs-4 col-xs-offset-4"/>
</div>

<!--下载最终效果图的表单-->
<form action="{% url 'download'%}" method="POST">
    {% csrf_token %}
    <input name="download_path" value="{{ result_path }}" type="text" style="visibility: hidden"/>
    <div style="margin: auto; width: 100px;">
        <button class="btn btn-success"
                style="margin: auto;">下载二维码
        </button>
    </div>
</form>
</body>
</html>